.place__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    justify-items: stretch;
    align-items: end;
    color: #FFFFFF;

    margin: 0;
    }


@media screen and (max-width: 1023px) {   /*ОТ 768 до 1024*/
    .place__title {
        width: 97%;
        font-weight: 900;
        font-size: 42px;
        line-height: 1.1;
        /*color: #FFFFFF;*/
        }
}

@media screen and (max-width:767px) {
    .place__title {
        max-width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .place__title {
        max-width: 288px;
        margin: 0 auto;
        font-size: 32px;
        line-height: 1.09;
    }
}
