.place__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;

    color: #FFFFFF;
    }

@media screen and (min-width: 768px) {   /*ОТ 768 до 1024*/
    .place__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 1.1;
        /*color: #FFFFFF;*/
        }
}

@media screen and (min-width: 320px) {   /*ОТ 320 до 768*/
    .place__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.09;
        }
}