.footer__column-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
    text-align: right;
    
    color: #FFFFFF;
    margin: 0;
    }

@media screen and (max-width:690px) {
    .footer__column-copyright {
        text-align: left;
    }
}