.lead__image {
    position: relative;
    width: 100%;
    padding-bottom: 62.5%;
    background-image: url(../../../images/lead-polka-all.jpg);
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 56px auto 0;
}

/*.lead__image::after {
    content: '';
    position: absolute;
    top: 4.3%;
    left: 4.3%;
    right: 4,3%;
    width: 95%;
    bottom: 45%;
    background-image: url(../../../images/cart.svg);
    z-index: 1;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
}*/
@media screen and (min-width: 1280px) {
    .lead__image {
        margin-top: 64px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        width: 100%;
        margin-top: 56px;
    }
}
@media screen and (max-width: 767px) {
    .lead__image {
        width: 100%;
        margin-top: 40px;
    }
}