.cover {
    position: relative;
    margin: 92px auto 0;
    max-width: 1184px;
    z-index: 1;
    width: 100%;
    min-height: calc(0.625*(100vw));
    background-size: cover;
    background-image: url(../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    
    display: flex;
    align-items: stretch;
    justify-content: stretch;

 }

 @media screen and (min-width:1024px) {
    .cover {
        margin-top: 92px;
    }
 }

 @media screen and (min-width:768px) {
    .cover {
    margin-top: 88px;
    }
}

@media screen and (max-width:320px) {
    .cover {
    margin-top: 64px;
    }
}

