.cover__title {
    position: absolute;
    z-index: 1;
    width: 560px;


    margin: auto;
    top: 20%;
    left: 0;
    right: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    
    text-align: center;
    color: #FFFFFF;    
}

@media screen and (max-width:768px){
    .cover__title {
        width: 90vw;

        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 1.09;

        text-align: center;

        color: #FFFFFF;
    }
}