.footer__column-links {
    display: flex;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

@media screen and (max-width:690px){
    .footer__column-links {
        max-width: 288px;
        flex-direction: column;
        margin-bottom: 16px;
    }
}