.place__website::before {
    content: "URL";
    justify-self: center;
    text-decoration: none;
    border-bottom: 0px;
    color: #AAAAAA;
    width: 100%;
    letter-spacing: 0.2em;
    font-size: 12px;
    line-height: 1.0;
}
.place__website {
    font-size: 18px;
    
    display: flex;
    /*Инструкция для флекса*/
    flex-direction: column;
    justify-content: space-between;
    /*Инструкция для грида*/
    align-self: end;
    justify-self: start;
    height: 46px;
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none;

    transition: opacity .4s linear;
}

.place__website:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        margin-left: 16px;
    }
}
